**/__pycache__/
**/.ipynb_checkpoints/
**/log_tensorboard/
src/gencellpainting/__pycache__
src/gencellpainting/__pycache__/*
src/gencellpainting/model/__pycache__
src/gencellpainting/model/__pycache__/*
src/gencellpainting/model/net/__pycache__
src/gencellpainting/model/net/__pycache__/*
src/gencellpainting/plotting/__pycache__
src/gencellpainting/plotting/__pycache__/*
src/gencellpainting/sandbox/__pycache__
src/gencellpainting/sandbox/__pycache__/*
src/notebooks/log_tensorboard
src/notebooks/log_tensorboard/*
data/models/*
data/optim/*
data/optimization/*